# ~~~~~~~~~~~~~~~~ APP
APP_DEBUG=true
APP_URL=http://localhost:5000
APP_HOST=http://localhost
APP_PORT=5000
# ~~~~~~~~~~~~~~~~ AUTH
AUTH_JWT_ACCESS_TOKEN_SECRET=mySecretCode
AUTH_JWT_REFRESH_TOKEN_SECRET=mySecretCode
# check this for time formats-> https://github.com/vercel/ms
AUTH_JWT_ACCESS_TOKEN_EXPIRED=1m
AUTH_JWT_REFRESH_TOKEN_EXPIRED=1d

AUTH_GET_CURRENT_USER_ON_REQUEST=true
# ~~~~~~~~~~~~~~~~ DATABASE
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mydatabase
DB_USERNAME=root
DB_PASSWORD=
DB_DEBUG_LOG=false
# ~~~~~~~~~~~~~~~~ MEDIA
MEDIA_STORAGE=local   # local | firebase
MEDIA_LOCAL_STORAGE_DIR_NAME=storage
# ~~~~~~~~~~~~~~~~ FIREBASE
FIREBASE_STORAGE_BUCKET=gs://xxxxxx.appspot.com # firebase storage bucket
FIREBASE_SERVICE_ACCOUNT=firebaseServiceAccount.json # firebase service account
FIREBASE_CLOUD_MESSAGING_SERVER_KEY= #fcm key
# ~~~~~~~~~~~~~~~~ LOCALE
LOCALE_USE=false
# ~~~~~~~~~~~~~~~~ MAIL
MAIL_HOST= #example: smtp.gmail.com | smtp-relay.sendinblue.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=