
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h3>Hello!</h3>
    <p>
        <%= message %>
    </p>
    <p>
        <a href="<%= verification_url %>">Verify Account</a>
    </p>
    <p>
        Regards.
    </p>
    <p>
        Nodemi
    </p>
</body>

</html>
    
    